{% extends "base.html" %}

{% block body %}
    <h1>Resultados de la búsqueda</h1>

    {% if trainers %}
        <h2>Entrenadores</h2>
        <ul>
            {% for trainer in trainers %}
                <li>
                    <a href="/trainers/{{ trainer.pk }}">{{ trainer.first_name }}</a>
                    <a href="/trainers/{{ trainer.pk }}">{{ trainer.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if users %}
        <h2>Usuarios</h2>
        <ul>
            {% for user in users %}
                <li>
                    <a href="/users/{{ user.pk }}">{{ user.first_name }}</a>
                    <a href="/users/{{ user.pk }}">{{ user.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}