{% load adminlte_helpers %}
{%load static %}
<header>
    
    <div class="cont-busqueda">

        <form action="/search/" method="get" onsubmit="return search()">
            <input class="form-control" type="text" value="" placeholder="Buscar" name="q">
                <!-- <div class="btn-b">
                    <i class="fa fa-search"></i>
                </div> -->
            <button class="btn-b" type="submit"  name="accion" value="Buscar"><i class="fa fa-search" ></i></button>
            
        </form>
            
    </div>

</header>

<style>

    .cont-busqueda{
        position: absolute;
        width: 0px;
        left: 78%;
        top: 15%;
        transform: translate(-50%,-50%);
        padding: 10px;
    }

    .input {
        outline: none;
        box-sizing: border-box;
        height: 30px;
        width: 0px;
        padding: 0 10px;
    
        color: #000;
        border-radius: 50px;
        font-size: 20px;
        border: 1px solid #9474b4;
        transition: all .7s ease;
        position: relative;
        top: 30px;
        right:-140px ;
    }

    ::placeholder {
        color: grey;
    }

    .btn-b {
        position: relative;
        left: -8px;
        top: -42px;
        width: 50px;
        height: 50px;
        background: #9474b4;
        border-color: whitesmoke;
        line-height: 70px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s;
    }

    .btn-b i {
        position: relative;
        top: -7px;
        font-size: 25px;
        color: white;
        line-height: 0px;
        transition: all .7s ease;
    }

    .cont-busqueda:hover input {
        width: 270px;
    padding-left: 55px;
    }

    .cont-busqueda:hover i{
        transform: rotate(-360deg);
    }

    .btn-b:hover{
        background:  #9474b4;
    }



</style>

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
     <!-- Brand Logo -->
    {% block logo %}
        <a href="/" class="brand-link">
            <img src="{%static 'admin-lte/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            {% block logo_text %}<span class="brand-text font-weight-light">Gimnasio </span>{% endblock %}
        </a>
    {% endblock %}
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
        <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% avatar_url size=90 %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{% firstof request.user.get_full_name request.user.username %}</a>
        </div>
      </div>
        {% endblock %}

        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% block nav_links_outer %}


            <li class="nav-header">{% block nav_heading %}MENÚ PRINCIPAL{% endblock %}</li>

            {% block nav_links %}
                <li class="nav-item">
                    <a href="{% url 'trainer-list' %}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i> 
                        <p>Entrenadores</p>
                    </a>
                </li>
                <li class="nav-item">
                        <a href="{% url 'user-list' %}" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i> 
                            <p>Usuarios</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'suscripcion-list' %}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i> 
                            <p>Suscripciones</p>
                        </a>
                    </li>
                    <li class="nav-item">
                            <a href="{% url 'servicio-list' %}" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i> 
                                <p>Servicios</p>
                            </a>
                        </li>    
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
            </ul>
            </nav>
        {% endblock nav_links_ul %}
    </div>
    <!-- /.sidebar -->
</aside>