{% extends 'base.html' %}
{% load static %}

{% block section %}
 <h2>Servicios</h2>
 <h2> <a href="{% url "servicio-create"  %}" class="btn btn-primary">create</a></h2>
 <hr>
{% endblock section %}

{% block maincontent %}
<div class="container" >
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Valor</th>
        <th></th>
      </tr>

    </thead>
    <tbody>
      {% for servicio in object_list %}
        <tr>
          <td height=50px; width=200px;>{{ servicio.name }}</td>
          <td height=50px; width=400px;>{{ servicio.valor }}</td>
          <td height=50px; width=400px;>  <a  href="{% url "servicio-delete" servicio.pk %}"  class="btn btn-primary">delete</a> 
            <a href="{% url "servicio-update" servicio.pk %}" class="btn btn-primary">edit</a>  </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<style>
    .table{
     
        background-color: #ccc2d6;
        border-color:  #321f4e;
        max-width: 650px;
    }

    .td{
        border: #321f4e;
    }

    .btn {
        background-color: #fff;
        color: #080808;
        font-size: 18px;
        border-radius: 5px;
        max-width: 110px;
        width: 110px;
        max-height: 40px;
        height: 40px;
        border-color: #321f4e;
    }

    .btn:hover {
        background-color: #321f4e;
        color: #fff;
    }

</style>

{% endblock maincontent %}