{% extends 'base.html' %}
{% load static %}

{% block section %}
 <h2>Suscripciones </h2>
 <hr>
{% endblock section %}



{% block maincontent %}
<div class="container" >
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>Servicio</th>
        <th>valor</th>
        <th>Usuario</th>
      </tr>

    </thead>
    <tbody>
        <tr>
          <td height=50px; width=400px;>{{ suscripcion.servicio }}</td>
          <td height=50px; width=400px;>{{ object.servicio.valor}}</td>        
          <td height=50px; width=400px;> {% if object.user_id %}
            <a href="{% url "user-detail" object.user_id %}">
               {{ object.user }}
             </a> 
         {% endif %} </td>   

        </tr>   
    </tbody>
  </table>
</div>
<h2> <a  href="{% url "suscripcion-delete" object.pk %}" class="btn btn-primary">delete</a></h2>

<style>
    .table{
     
        background-color: #ccc2d6;
        border-color:  #321f4e;
        max-width: 650px;
    }


    .btn-mi-clase {
        background-color: #fff;
        color: #080808;
        font-size: 18px;
        border-radius: 5px;
        max-width: 140px;
        width: 140px;
        max-height: 40px;
        height: 40px;
        border-color: #321f4e;
    }

    .td{
        border: #321f4e;
    }

    .btn {
        background-color: #fff;
        color: #080808;
        font-size: 18px;
        border-radius: 5px;
        max-width: 140px;
        width: 140px;
        max-height: 40px;
        height: 40px;
        border-color: #321f4e;
    }

    .btn-mi-clase:hover {
        background-color: #321f4e;
        color: #fff;
    }

    .btn:active {
        background-color: #321f4e;
        color: #321f4e;
    }

</style>

{% endblock maincontent %}  


