{% extends 'base.html' %} 
{% block maincontent %}
 <form action=""method="post">{% csrf_token %}
     <p>Delete "{{ object.servicio }} de {{ object.user }}"?</p>
     <input type="submit" value="Confirm" />
     <a class='btn'href="{% url 'suscripcion-list' %}">Cancel</a>
 </form>
{% endblock maincontent %}