{% extends 'base.html' %}
{% load static %}
{% block section %}
    <h2>{{ object.first_name }} {{ object.last_name }}</h2>
    <h2>    <a href="{% url "trainer-update" object.id %}" class="btn btn-primary">edit</a>
        <a href="{% url "trainer-delete" object.id %}" class="btn btn-primary">delete</a> </h2>
    <div>
         <img src="{% static object.photo.url %}" style="width:250px;height:330px" /> 
    </div>

    <h2>Estatura: {{ object.height }}</h2>
    <h2>Peso: {{ object.weight }}</h2>
    <h2>cupos disponibles: {{ object.number_users }}</h2>
    <div>
        <table border="1px">
         <tr>
             {% for p in object.get_users.all %}
                <td>
                  <div>{{ p.first_name }} {{ p.last_name }}</div>
                  <div>
                     <a href="{% url "user-detail" p.pk %}">
                        <img src="{% static p.photo.url %}" style="width:170px;height:200px"/>
                     </a>
                  </div>
                </td>
              {% endfor %}
          </tr> 
         </table>
      </div>
   


    <hr>
{% endblock section %}


