{% extends 'base.html' %}
{% load static %}
{% block section %}
    <h2>{{ object.first_name }} {{ object.last_name }}</h2>
    <div>
        <img src="{% static object.photo.url %}" style="width:250px;height:330px" />
    </div>
    <h2> Entrenador: {% if object.trainer_id %}
         <a href="{% url "trainer-detail" object.trainer_id %}">
            {{ object.trainer }}
          </a> 
      {% endif %} </h2>

    {% if suscripcion_usuario is not None %}
        <h2> Suscripción: {{ suscripcion_usuario.servicio }} - {{ suscripcion_usuario.servicio.valor }} </h2>
    {% else %}
        <h2> Suscripción: No hay suscripción para este usuario</h2>
    {% endif %}
    <hr>
{% endblock section %}

{% block maincontent %}
    <a href="{% url "user-update" object.id %}" class="btn btn-primary">edit</a>
    <a href="{% url "user-delete" object.id %}" class="btn btn-primary">delete</a> 
{% endblock maincontent %} 

